.home {
  padding: 30px;
}

.home-header {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
}

.home-header h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 10px;
}

.home-header p {
  padding: 0;
  margin: 0;
}

.welcome-asset {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
}

.sign-out-button {
  margin: 10px 0;
}
