.credentials-container {
  width: 1000px;
  height: 70%;
  border-radius: 20px;
  background-color: #eef1ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 5%;
  padding-top: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-button-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 7px;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
}

.auth-button {
  height: 45px;
  border-radius: 7px;
  width: 350px;
  border: none;
  cursor: pointer;
  transition: all ease 0.1s;
  color: #fff;
}

.auth-button:hover {
  box-shadow: 2px 18px 26px -9px rgba(0, 0, 0, 0.1);
}

.signin-button {
}
.signup-button {
}

.auth-input {
  width: 300px;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #a9a9a9;
  color: #000;
  line-height: 40px;
}

.auth-input-container {
  display: flex;
  column-gap: 50px;
}

#login-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo-container {
  margin: 0 auto;
  height: fit-content;
}

.sign-in {
  background-color: #0a2647;
}

.sign-out {
  background-color: #472183;
  /* background-color: #227c70; */
}

.error-container {
  margin: 5px;
}

.welcome-text {
  margin: 0;
  padding: 0;
}
